* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* NavBar */
nav{
    position: fixed !important;
    z-index: 2;
    width: 100%;
}
.titre-ok {
    font-size: 1.4rem !important;
    /* color: red !important; */
}

.titre-jaune {
    color: rgba(94, 255, 0, 0.795);
}

/* Caroussel */

.carousel-item {
    position: relative !important;
    opacity: 1;
}

.carousel-caption {
    position: absolute;
    top: 200px;
}

.carousel-caption h5,
.carousel-caption p {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.lien {
    font-size: 1rem;
    text-transform: uppercase;
}

ul li a:hover {
    color: rgba(255, 94, 0, 0.479) !important;
    font-size: 1.1rem;
    border-bottom: 1px solid black;
}

.button {
    color: white !important;
    padding: 7px 10px !important;
    margin-left: 25px;
}

/* SECTION 1 */
.titre-section1 {
    font-size: 2rem;
    margin-top: 30px;
    font-weight: bold;
    opacity: 0.7;
}

.text-sec,
.titre-sec {
    font-size: 1rem;
}

.sect1 p {
    letter-spacing: 2px;
    /* line-height: 3px; */
    /* text-align: justify; */
}

/* SECTION 2 */

.titre-sec {
    text-align: center;
    font-size: 1.9rem;
    font-weight: bold;
    opacity: 0.7;
}
form{
    margin-left: auto !important;
}
form textarea{
    resize: none;
}
.secteur-activite i {
    font-size: 3rem;
}


/* FOOTER */

.footer {
    background: rgb(161, 35, 35);
    color: white;
    margin: 0 auto;
    padding: 20px 0;
}

.footer i {
    font-size: 1.3rem;
    margin-left: 5px;
}

.footer .footer-titre {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
}

.footer ul{
    padding: 0;
}
.footer ul li {
    list-style: none;

}

/* CONTACT */
.nous-contacter{
    background: url("./assets/img/hunters.jpg") center/cover fixed;
    /* opacity: 0.8; */
}
.nous-contacter .contact-titre{
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
}
.nous-contacter input,textarea{
    width: 60% !important;
}
.nous-contacter input[type=submit]{
    margin-top: 10px;
    padding: 10px;
    font-size: 1.1rem;
    background:  rgb(161, 35, 35)!important;
    border: none;
    color: white;
    transition: 2s;
}
.nous-contacter input[type=submit]:hover{
    background: yellow;
    color: white;
}
.nous-contacter form{
    margin-left: 20px;
}